@page
@model GestiuneRestaurant.Pages.Rezervari.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rezervare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.NumeClient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.NumeClient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.DataRezervare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.DataRezervare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.NumarPersoane)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.NumarPersoane)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rezervare.Masa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rezervare.Masa.MasaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rezervare.RezervareId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
