@page
@model GestiuneRestaurant.Pages.ProduseMeniu.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProdusMeniu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdusMeniu.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdusMeniu.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdusMeniu.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdusMeniu.Descriere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdusMeniu.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdusMeniu.Pret)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProdusMeniu.ProdusMeniuId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
